<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static "dashboard/index_style.css" %}" />
    <link rel="stylesheet" href="{% static "user/loginform_style.css" %}" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee Shade">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js"></script>
</head>
<body>
    <div class="login-form-container">
        <div class="uk-grid">
            <h3>Create new account</h3>
            <form action="{% url 'user:register' %}" method="post">
                {% csrf_token %}
                <div class="uk-margin">
                    <label for="id_username">Username:</label>
                    <div class="uk-inline">
                        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
                        <input class="uk-input" name="username" id="id_username" placeholder="email"/>
                    </div>
                </div>
                <div class="uk-margin">
                    <label for="id_password">Password:</label>
                    <div class="uk-inline">
                        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                        <input class="uk-input" name="password" id="id_password" placeholder="password" type="password"/>
                    </div>
                </div>
                <div class="uk-margin">
                    <label for="id_password_rep">Repeat password:</label>
                    <div class="uk-inline">
                        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                        <input class="uk-input" name="password" id="id_password_rep" placeholder="password" type="password"/>
                    </div>
                </div>
                <div class="uk-margin uk-align-right">
                    <button class="uk-button uk-button-default" type="submit">Create account</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>