{% extends "./detail_base.html" %}

{% block content %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <div class="post-details-container">
        <header>
            <h2>{{ post.title }}</h2>
            <h4>{{ post.pub_date }}</h4>
        </header>

        {% if post.image %}
            <img src="../../media/{{ post.image.name }}" alt="{{ post.title }}"/>
        {% endif %}

        <form action="{% url 'post:reblog' post.id %}" method="post">
            {% csrf_token %}
            <p>reblog</p>
            <button
                    type="submit" name="reblog" id="note{{ forloop.counter }}"
                    value="{{ note.id }}" class="uk-button uk-button-default">reblog</button>
            <label for="note{{ forloop.counter }}">{{ note.note_date }}</label>

            <br/>
        </form>
        <form action="{% url 'post:like' post.id %}" method="post">
            {% csrf_token %}
            <p>like</p>
            <button
                    type="submit" name="like" id="note{{ forloop.counter }}"
                    value="{{ note.id }}" class="uk-button uk-button-default">like</button>
            <label for="note{{ forloop.counter }}">{{ note.note_date }}</label>
            <br/>
        </form>
    </div>
{% endblock %}
