{% extends "./index_base.html" %}

{% block content %}
<p class="title">Dashboard</p>
<hr noshade="true">
{% if latest_post_list %}
    <ul>
        <div class="post_container">
            {% for post in latest_post_list %}
                <li>
                    <div>
                        <a href="/post/{{ post.id }}/">{{ post.title }}</a>
                        {% if post.content %}
                            <p>{{ post.content }}</p>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </div>
    </ul>
{% else %}
    <p>No posts yet.</p>
{% endif %}
{% endblock %}
